@*//This page is viewing the details of the request to the Coordinator user so they accept it or reject*@

@page "/Request/DetailsCoor"

@layout HRLayout

<title>FIMS | Request Details</title>

<br />
<h4>Request Details</h4>
<br />
<fieldset>
    <table class="table table-borderless" style="color:#4d0000">
        <tr>
            <th scope="row">Office Number: </th>
            <td>245</td>
        </tr>
        <tr>
            <th scope="row">Faculty Name:</th>
            <td>Hadeel Ahmed</td>
        </tr>
        <tr>
            <th scope="row">Resource Type:</th>
            <td>Equipment</td>
        </tr>
        <tr>
            <th scope="row">Resource Quantity:</th>
            <td>2</td>
        </tr>
        <tr>
            <th scope="row">Request Date & Time:</th>
            <td>10-10-2020 10:00 AM</td>
        </tr>
        <tr>
            <th scope="row">Delivery Date & Time:</th>
            <td>18-10-2020 08:00 AM</td>
        </tr>
        <tr>
            <th scope="row">Note:</th>
            <td>Desk 1 - Chairs 2</td>
        </tr>
    </table>
    <br />
    <br />
    <center>
        <a @onclick="messageAButtonClicked" class="button" role="button">Approved</a>
        <a href="/Coordinator/Homepage" class="button" role="button">Cancel</a>
    </center>
    <center><p>@approveMessage</p></center>
</fieldset>
<br />
<br />

@code {

    string approveMessage;

    protected void messageAButtonClicked()
    {
        approveMessage = "The Request Has Been Accepted";
    }


}
