@*//This page is to delete the assign workload for a specific faculty from workloads list page and the database*@

@page "/Workload/Delete"

@layout CAADULayout

<title>FIMS | Delete Workload</title>

<br />
<h4>Delete Workload</h4>
<br />
<center>
    <div class="alert alert-danger" style="width:320px; height:80px">
        DO YOU WANT TO DELETE THIS Workload Assignment?
    </div>
</center>

<fieldset>
    <table class="table table-borderless" style="color:#4d0000">
        <tr>
            <th scope="row">Faculty Id: </th>
            <td>20212</td>
        </tr>
        <tr>
            <th scope="row">Faculty Name: </th>
            <td>Mohammed Fares</td>
        </tr>
        <tr>
            <th scope="row">Assigned Workload: </th>
            <td>8</td>
        </tr>
    </table>
    <br />
    <br />
    <center>
        <button type="submit" class="button">Delete Workload</button> &nbsp;
        <a href="/Office/List" class="button" role="button">Cancel</a>
    </center>
</fieldset>
<br />
<br />


