@*//This page is the Account Setting page where all user can accecc it to set their information*@

@page "/AccountSetting"

@layout OtherLayout

<title>FIMS | Account Setting</title>

<br />
<h4>Account Setting</h4>
<br />
<fieldset>
    <p style="color: #4d0000">* Indicates a required field</p>
    <h5><b>PERSONAL INFORMATION</b></h5>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Title</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*First Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Middle Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*Last Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Email</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Employee Id</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <hr style="width: 50%; background-color: #4d0000">

    <h5><b>ACCOUNT INFORMATION</b></h5>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*Username</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*Password</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <hr style="width: 50%; background-color: #4d0000">

    <h5><b>CHANGE PASSWORD</b></h5>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*Cuurent Password</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*NEW Password</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>*Verify Password</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <hr style="width: 50%; background-color: #4d0000">

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b><i>Click Submit to proceed</i></b></label>
        <div class="col-sm-5">
            <button type="submit" class="button">Submit</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>

</fieldset>

