@*//This page is the Forget Password page where all user can accecc it if they forget their password*@

@page "/ForgetPassword"



<title>FIMS | Forget Password</title>

<br />
<h4>Lost Password</h4>
<p><i>To change your password, provide information for one option only. Username or Email Address</i></p>
<br />

<fieldset>
    <h5><b>USERNAME OPTION</b></h5>
    <p>
        <i>
            To change your password type your First Name, Last Name, and Username. You need an active email address associated with
            your account to receive instruction. Your current password remain active until you change it.
        </i>
    </p>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>First Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Last Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Username</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <hr style="width: 50%; background-color: #4d0000">

    <h5><b>EMAIL ADDRESS OPTION</b></h5>
    <p>
        <i>
            Enter your First Name, Last Name, and Email Address. You need an active email address associated with
            your account to receive instruction. Your current password remain active until you change it.
        </i>
    </p>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>First Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Last Name</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b>Email</b></label>
        <div class="col-sm-5">
            <input type="text" />
        </div>
    </div>

    <hr style="width: 50%; background-color: #4d0000">

    <div class="form-group row">
        <label for="firstName" class="col-sm-4 col-form-label"><b><i>Click Submit to proceed</i></b></label>
        <div class="col-sm-5">
            <button type="submit" class="button">Submit</button>
            <button type="submit" class="button">Cancel</button>
        </div>
    </div>

</fieldset>
