@page "/"


@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<br />
<br />
<h1 style="text-align:center;">Faculty Information Managment System</h1>
<br />
<p style="text-align:center;font-size:160%;"><i>One place that have all your files, lists, and data</i></p>
<br />
<br />
<p style="text-align:center;">
    <container-login100-form-btn>
        <login100-form-btn @onclick="signinButtonClicked">
            Sign In
        </login100-form-btn>
    </container-login100-form-btn>
    @*<a class="btn btn-primary" href="signin" role="button">Sign In</a>*@
</p>


@code{


    protected void signinButtonClicked()
    {
        navigationManager.NavigateTo($"/signin");
    }


}










