@page "/"
<br />
<br />
<h1 style="text-align:center;">Faculty Information Managment System</h1>
<br />
<p style="text-align:center;font-size:160%;"><i>One place that have all your files, lists, and data</i></p>
<br />
<br />
<p style="text-align:center;">
    <div class="container-login100-form-btn" >
        <a class="login100-form-btn" href="signin" role="button">
            Sign In
        </a>
    </div>
    @*<a class="btn btn-primary" href="signin" role="button">Sign In</a>*@
</p>
















