@*//This page is the Search page where all user ca accecc it to search a specific things*@

@page "/Search"

@layout OtherLayout

<title>FIMS | Search</title>

<br />
<h4>Search</h4>
<br />
<fieldset>
    <br />
    <div class="form-group row">
        <select id="schoolName" class="col-sm-4">
            <option>---Select a Search Item---</option>
            <option>First Name</option>
            <option>Last Name</option>
            <option>Email Address</option>
            <option selected>Office Number</option>
            <option>Extension Number</option>
            <option>Position Title</option>
            <option>School Name</option>
            <option>Department Name</option>
        </select>
        <div class="col-sm-5">
        <input type="text" /><span class="oi oi-magnifying-glass" style="color: #4d0000"/>
        </div>
    </div>
</fieldset>
<br />
<br />
<fieldset>
    <br />
    <table class="table table-borderless" style="color:#4d0000">
        <tr>
            <th scope="row">First Name: </th>
            <td>Raghad</td>
        </tr>
        <tr>
            <th scope="row">Last Name: </th>
            <td>Salem</td>
        </tr>
        <tr>
            <th scope="row">Position Title: </th>
            <td>Lecturer</td>
        </tr>
        <tr>
            <th scope="row">Job Type: </th>
            <td>Full-Time</td>
        </tr>
        <tr>
            <th scope="row">Office Number: </th>
            <td>224</td>
        </tr>
        <tr>
            <th scope="row">Office Area: </th>
            <td>Second Floor - TA Offices</td>
        </tr>
        <tr>
            <th scope="row">Phone Extension: </th>
            <td>343</td>
        </tr>
        <tr>
            <th scope="row">Status: </th>
            <td>New</td>
        </tr>
        <tr>
            <th scope="row">Available Resources: </th>
            <td>Desk - Chairs - Computer</td>
        </tr>
    </table>
</fieldset>

