@page "/CAADU/Homepage/{caaduName}"
@layout CAADULayout

<div class=" raw ">
    <div class=" col-10 ">
        <table style=" width: 100%">
            <tr>
                <th>
                    <h4>
                        Pending List (Workloads)
                    </h4>
                </th>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <br />
                </th>
            </tr>
            <tr>
                <th>
                    <h4>
                        Pending List (Teacher Assistants)
                    </h4>
                </th>
            </tr>
            </tr>
        </table>
    </div>
</div>



@code {

    [Parameter]
    public string caaduName { get; set; }



}