@page "/ProvostHomepage"
@layout ProvostLayout


@*<h3>
  
    
   
</h3>*@
<div class=" raw ">
    <div class=" col-10 ">
        <table style=" width: 100%">
            <tr>
                <th>
                    <h4>
                        Dashboard
                    </h4>
                </th>
                <th>
                    <h4><a href="#home"><span class="oi oi-pencil" style="color: #4d0000; right:-610px"></span></a></h4>
                </th>
                <th>
                    <h4><a href="#home"><span class="oi oi-file" style="color: #4d0000; right:-480px"></span></a></h4>
                </th>
                <th>
                    <h4><a href="#home"><span class="oi oi-print" style="color: #4d0000; right:-350px"></span></a></h4>
                </th>
                </tr>
        </table>
    </div>
</div>





@code {

    [Parameter]
    public string provName { get; set; }



}
