@inherits LayoutComponentBase

<div class="topnav">
    <NavMenu />
</div>

<div class=" raw ">
    <div class=" col-10 ">
        <table style=" width: 100%">
            <tr>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    Faculty Information Management System
                </th>
            </tr>
        </table>
    </div>
</div>

<div class="header">
    <a href=http://www.dah.edu.sa/en/Pages/default.aspx target="_blank">
        <img src="/Images/ProjectLogo/logo2.png" alt="DAH Logo" style="width:120px; height:120px; position:absolute; left:25px; top:25px;">
    </a>
</div>

<div class="content">
    @Body
</div>



















@*@inherits LayoutComponentBase

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>*@
