@inherits LayoutComponentBase
@using DAH_FIMS.Pages
<signin></signin>

<div class="topnav" id="myTopnav">
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a href="#home" @*class="active" *@>Faculties</a>
    <a href="#news">Offices</a>
    <a href="#contact">Requests Resources</a>
    <a href="#about">Workloads</a>
    <a href="#about">Teacher Assistants</a>
    <a href="#about">Databank</a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a href="#home"><span class="oi oi-person" style="color:white"></span></a>
    <a style="color:white"><p>Hello, @provName</p></a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a>   </a>
    <a href="#home"><span class="oi oi-bell" style="color:white"></span></a>
    <a href="#home"><span class="oi oi-account-logout" style="color:white"></span></a>


    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>

<div class=" raw ">
    <div class=" col-10 ">
        <table style=" width: 100%">
            <tr>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                </th>
                <th>
                    <br />
                </th>
                <th>
                    Faculty Information Management System
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <br />
                </th>
                <th>
                    <a href="#home"><span class="oi oi-magnifying-glass" style="color: #4d0000; left:230px"></span></a>
                </th>
            </tr>
        </table>
    </div>
</div>

<div class="header">
    <a href=http://www.dah.edu.sa/en/Pages/default.aspx target="_blank">
        <img src="/Images/ProjectLogo/logo2.png" alt="DAH Logo" style="width:120px; height:120px; position:absolute; left:25px; top:9px;">
    </a>
    <a><center> 
        <div id="wrapper"><SfDateRangePicker></SfDateRangePicker> </div>
        <style>
            #wrapper{
                max-width: 300px;
                margin: -17px auto;
                padding-top: 20px;

            }
        </style>
        
        
        
        </center></a>
</div>

<div class="content">
    @Body
</div>



@code {

    [Parameter]
    public string provName { get; set; }



}