@*//This page is viewing the details of the assigned workload for faculty*@

@page "/Workload/DetailsProv"

@layout ProvostLayout2

<title>FIMS | Workload Details</title>

<br />
<h4>Workload Details</h4>
<br />
<fieldset>
    <table class="table table-borderless">
        <tr>
            <th scope="row">Faculty Id: </th>
            <td>20211</td>
        </tr>
        <tr>
            <th scope="row">Faculty Name: </th>
            <td>Mohamed Fares</td>
        </tr>
        <tr>
            <th scope="row">Rank:</th>
            <td>Assistant Professor</td>
        </tr>
        <tr>
            <th scope="row">Academic Year:</th>
            <td>2020-2021AY</td>
        </tr>
        <tr>
            <th scope="row">Semester:</th>
            <td>Spring</td>
        </tr>
        <tr>
            <th scope="row">Course Details:</th>
            <td>
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="table-warning" style="background-color:#4d0000">
                            <th>Course</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Course Credits</th>
                            <th>Section Number</th>
                            <th>Course Type</th>
                            <th>Contact Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>BBIS4301</td>
                            <td>Internship</td>
                            <td>3</td>
                            <td>1</td>
                            <td>Lec</td>
                            <td>12</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <th scope="row">Total Workload:</th>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">Total Contact Hours:</th>
            <td>12</td>
        </tr>
        <tr>
            <th scope="row">Load Type:</th>
            <td>Normal</td>
        </tr>
    </table>
    <br />
    <center>
        <button type="submit" class="button" @onclick="messageAButtonClicked">Approve</button>
        <a href="WorkloadProv/List" class="button" role="button">Cancel</a>
    </center>
    <center><p>@approveMessage</p></center>
</fieldset>
<br />

@code 
{ 

    string approveMessage;

    protected void messageAButtonClicked()
    {
        approveMessage = "The Workload Has Been Approved";
    }
}